@using MVC3.ImagesInDropdownLists.ViewModels;
@model CreateContestantViewModel

@{
    ViewBag.Title = "Success";
}

<h2>Congratulations @Model.FirstName!</h2>
Oh joy!  You've signed up for our Extreme Shark Wrestling Competition!
